.home {
    width: calc(100%);
    // background-color: #fff;
    border-radius: 0.75rem;
    margin: 0 auto;
    padding: 10px;

    .block {
        .target-box {
            background: #fff;
        }
        .setting-review {
            background: #fff;
        }
    }
}
